footer {
    height:50px;
    background-color:rgb(34,34,34);
    position: relative;
    text-align: center;
}
p{
    padding-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}