.menu {
    display:flex;
    flex-direction:column;
    width:200px;
    height:90vh;
    background-color: rgb(51,51,51);
    overflow:hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.deconnexion{
    padding:5px 0 5px 25px;
}
a{
    display:block;
    text-decoration: none;
    color:white;
    width:100%;
    padding:5px 0 5px 25px;
}
button {
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:transparent;
    color: white;
    cursor: pointer;
    outline: inherit;
}

li:hover, button:hover {
    background-color: rgb(34,34,34);
}

.active {
    background-color: rgb(100,100,100);
}



