<div class="menu">
    <ul>
        <li routerLinkActive="active"><a routerLink="parc">Etat du parc</a></li>
        <li routerLinkActive="active"><a routerLink="stats">Statistiques</a></li>
        <li routerLinkActive="active"><a routerLink="plan">Plan</a></li>
        <li *ngIf="authorization" routerLinkActive="active"><a routerLink="edit">Editer</a></li>
        <li routerLinkActive="active"><a routerLink="help">Aide</a></li>
        <li *ngIf="!authorization" routerLinkActive="active"><a routerLink="connexion">Connexion</a></li>
        <li *ngIf="authorization" class="deconnexion"><button>Déconnexion</button></li>
    </ul>
</div>
