
<app-header></app-header>
<div class="center-page">
    <div class="menu-page">
        <app-menu></app-menu>
    </div>
    <div class="router-page">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>