.card{
    display:flex;
    flex-direction: column;
    border: 1px solid rgb(51,51,51);border-radius:10px;
    padding:10px;
    margin:15px;
    align-items:center;
    color:rgb(51,51,51);
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-bottom:10px;
}

.trash-section{
    display:flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    .filling{
        width:100px;
    }
    p.filling{
        font-size:18px;
        font-weight:bold;
    }
    .poubelle{
        .bac{
            position:absolute;
            width:30px;
            z-index:-1;
        }
        .bac.bac0{
            background-color:red;
            margin-left:8px;
            border-bottom-left-radius: 8px;
        }
        .bac.bac1{
            background-color:green;
            margin-left:40px;
            border-bottom-right-radius: 8px;
        }
    }
}

.info{
    display:flex;
    width: 100%;
    justify-content: space-around;
    margin-top:10px;
    div{
        cursor: pointer;
    }
}

.alerte-trash{
    text-align: center;
    font-size: 12px;
    margin-top:10px;
    p{
        margin:auto;
        width:80%;
    }
}