.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-bottom: 10px;
}

.trash-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.trash-section .filling {
  width: 100px;
}

.trash-section p.filling {
  font-size: 18px;
  font-weight: bold;
}

.trash-section .poubelle .bac {
  position: absolute;
  width: 30px;
  z-index: -1;
}

.trash-section .poubelle .bac.bac0 {
  background-color: red;
  margin-left: 8px;
  border-bottom-left-radius: 8px;
}

.trash-section .poubelle .bac.bac1 {
  background-color: green;
  margin-left: 40px;
  border-bottom-right-radius: 8px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.info div {
  cursor: pointer;
}

.alerte-trash {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.alerte-trash p {
  margin: auto;
  width: 80%;
}
/*# sourceMappingURL=card-trash.component.css.map */