<div class="card">
    <div class="title">
        <h2>{{trashs.name}}</h2>
    </div>
    <div class="trash-section">
        <div>
            <div><p class="filling">{{getFillingTauxByBac(0)}}</p></div>
            <div class="alerte-trash" *ngIf="isAlert(0)">
                <img src="assets/images/warning.png" alt="Warning">
                <p>Bac à vider</p>
            </div>
        </div>
        <div class="poubelle">
            <div *ngFor="let bac of trashs.bacs;
            index as i" 
            class="bac bac{{i}}" [style]="drawBac(i)"></div>
            <img src="assets/images/poubelle.png" alt="Poubelle">
        </div>
        <div>
            <div><p class="filling">{{getFillingTauxByBac(1)}}</p></div>
            <div class="alerte-trash" *ngIf="isAlert(1)">
                <img src="assets/images/warning.png" alt="Warning">
                <p>Bac à vider</p>
            </div>
        </div>
    </div>
    <div class="info">
        <div *ngIf="authorization"><img src="assets/images/edit_icon.png" alt="Editer"></div>
        <div><img src="assets/images/stats_icon.png" alt="Stats"></div>
        <div><img src="assets/images/marker-position.png" alt="Position"></div>
    </div>
</div>
