/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}
/*# sourceMappingURL=styles.css.map */